[submodule "techbizz-portfolio"]
	path = projects/techbizz-portfolio
	url = git@github.com:susantp/techbizz-portfolio.git
	branch = main
[submodule "store-ui"]
	path = projects/store-ui
	url = git@github.com:susantp/store-ui.git
	branch = main
[submodule "restaurant"]
	path = projects/restaurant
	url = git@github.com:susantp/restaurant.git
	branch = main
