[submodule "projects/fastApi"]
	path = projects/fastApi
	url = git@github.com:susantp/fastApi.git
[submodule "projects/nextjsUi"]
	path = projects/thamelui
	url = git@github.com:susantp/thamelui.git
[submodule "projects/api.thamelmart.test"]
	path = projects/api.thamelmart.test
	url = git@github.com:susantp/api.thamelmart.test.git
