[submodule "store-ui"]
	path = projects/store-ui
	url = git@github.com:susantp/store-ui.git
	branch = main
[submodule "api"]
	path = projects/api.techbizz.test
	url = git@github.com:susantp/api.techbizz.test.git
	branch = main
[submodule "admin"]
	path = projects/admin
	url = git@github.com:susantp/admin.git
	branch = main
[submodule "product_module"]
	path = packages/product_module
	url = git@github.com:Techbizz-Nepal/product_module.git
	branch = main
